<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border">
    <img src="../../assets/images/logo.gif" alt="Image" class="img_logo">
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let category of cateType">
        <ion-card [button]="true" mode="ios" (click)="openLinkInWebView(category?.cate_url)">
          <img [src]="category?.cate_img" alt="Image" class="img_category">
          <ion-card-content>{{category?.cate_name}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="position: absolute; bottom: 50%; width: 100%; text-align: center;" *ngIf="isLoaderShow">
    <ion-spinner name="circles" style="color: #fff; width: 50px; height: 50px;"></ion-spinner>
  </div>
</ion-content>