ion-content {
  --background: #152a47;
}

ion-toolbar{
  --background: #152a47;
  text-align: center;
}

ion-header{
  --background: #152a47;
}

ion-card-content {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-top: 13px;
  --padding-bottom: 13px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

ion-card {
  text-align: center;
  border-radius: 15px;
  width: 77%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.img_category {
  width: 60px;
  margin-top: 16px;
}

.img_logo{
  width: 350px;
  // margin: 16px 0px 0px 26px;
}